/*------------------------------------Fonts-----------------------------------*/

@font-face { font-family: 'almoni-dl'; font-weight: 300; /*(light)*/ font-style: normal; src: url('../fonts/almoni-dl-aaa-300.eot'); src: url('../fonts/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'), url('../fonts/almoni-dl-aaa-300.ttf') format('truetype'), url('../fonts/almoni-dl-aaa-300.woff') format('woff'); }
@font-face { font-family: 'almoni-dl'; font-weight: 400; /*(regular)*/ font-style: normal; src: url('../fonts/almoni-dl-aaa-400.eot'); src: url('../fonts/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'), url('../fonts/almoni-dl-aaa-400.ttf') format('truetype'), url('../fonts/almoni-dl-aaa-400.woff') format('woff'); }
@font-face { font-family: 'almoni-dl'; font-weight: 700; /*(bold)*/ font-style: normal; src: url('../fonts/almoni-dl-aaa-700.eot'); src: url('../fonts/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'), url('../fonts/almoni-dl-aaa-700.ttf') format('truetype'), url('../fonts/almoni-dl-aaa-700.woff') format('woff'); }
@font-face { font-family: 'almoni-dl'; font-weight: 900; /*(black)*/ font-style: normal; src: url('../fonts/almoni-dl-aaa-900.eot'); src: url('../fonts/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'), url('../fonts/almoni-dl-aaa-900.ttf') format('truetype'), url('../fonts/almoni-dl-aaa-900.woff') format('woff'); }
/*------------------------------------Fonts-----------------------------------*/



/*------------------------------------Reset-----------------------------------*/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
dl, dt, dd, ol, ul, li { list-style: none; }
.clear { clear: both; }
a, a:hover { text-decoration: none; color: #e01e26; }
/*------------------------------------Reset-----------------------------------*/
     
/*------------------------------------Global-----------------------------------*/

body { font-size: 17px; color: #000; background: #fff url(../images/bg.png) no-repeat center top; font-family: 'almoni-dl'; overflow-x: hidden; }
.bodygrey { background: #f6f6f6 !important; }
b { font-weight: 700; }
img { max-width: 100%; }
.v-top { vertical-align: top !important; }
.nomargin { margin: 0 !important; }
.norightmargin { margin-right: 0 !important; }
.nopaddingleft { padding-left: 0 !important; }
.nopadding { padding: 0 !important; }
.vspace-5 { padding: 5px; display: block; clear: both; }
.vspace-10 { padding: 10px; display: block; clear: both; }
.vspace-20 { padding: 20px; display: block; clear: both; }
.in-block { display: inline-block; margin: 0 5px; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.margintop20 { margin-top: 20px !important; display: block; }
.margintop70 { margin-top: 70px !important; display: block; }
.block { display: block; width: 100%; }
.topborderradius { border-radius: 5px 5px 0 0 !important; }
.overflow { overflow: hidden; }
.graybg { background: #e7e7e7; }
.padddingrt-20 { padding-right: 20px; }
.padddingrt-35 { padding-right: 35px; }
.padddinglt-10 { padding-left: 10px; }
.padddinglt-20 { padding-left: 20px; }
.no-maxwidth { max-width: none; }
.border-left1 { border-left: 1px solid #f4f4f4; }
.maincontainer { max-width: 1024px; width: 100%; margin: 0 auto; position: relative; }

/*------------------------------------Index Page-----------------------------------*/

.wrapper { border-right: 5px solid #d3d3d3; }
.topnavwrap { width: 100%; display: block; padding-bottom: 0px; position: relative; z-index: 1111; }
.navbar-default { background: none; border: none; font-family: 'almoni-dl'; font-weight: 400; margin-bottom: 0; }
.navbar-default .navbar-nav { padding-top: 100px; padding-right: 80px; }
.navbar-default .nav > li > a { color: #000000; font-size: 25px; font-weight: 300; padding-top: 12px; padding-bottom: 13px; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #e01e26; background-color: none !important; }
.navbar-default .navbar-brand { padding: 9px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #e01e26; background-color: #fff; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #e01e26; background-color: #fff; border-bottom-color: #fff; z-index: 10001; border-radius: 0; }
.navbar-nav > li > .dropdown-menu { border: none; list-style: disc; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; color: #000000; font-size: 17px; min-width: 540px; width: 100%; border-radius: 3px 0 3px 3px; margin-top: -1px; background: #fff url(../images/dropdown_bg.jpg) no-repeat scroll }
.navbar-nav > li > .dropdown-menu > li { list-style: disc; list-style-position: inside; padding: 0px 20px; }
.navbar-nav > li > .dropdown-menu > li > a { padding: 7px 0px; display: inline-block; }
.navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus { color: #1670b8; text-decoration: none; background-color: transparent; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: #ffffff; color: #1670b8; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: #ffffff; }
.button { background: #2483c5; color: #ffffff; }
.button a { color: #ffffff; font-weight: 300; }
.box { cursor: pointer; background: #f3f3f3; padding: 10px 10px 25px 10px; min-height:240px; position: relative; margin-bottom:20px; }
.rightcontainer .box { min-height:0px;}
.box:hover { background: #d8d8d8; }
.box img.item { position: absolute; top: -10px; left: -10px; }
.box .list li { list-style-image: url(../images/list_image.png); margin-right: 10px; margin-bottom: 5px }
.box li a { font-size: 14px; color: #000000; }
.box li a:hover { color: #e01e26; }
.box li.red_arrow { font-size: 28px; margin-top: 24px; }
.box li.red_arrow span { margin-right: 10px }
.box .black { cursor: pointer; list-style-image: none !important; margin-right: 0 !important; margin-top: 20px; }
.box p { font-size: 15px; margin-top: 15px; }
h1.red_underline { font-size: 30px; color: #000000; font-weight: 300; line-height: 50px; border-bottom: 4px solid #e01e26; display: inline-block; }
h1.black_underline { font-size: 30px; color: #000000; font-weight: 300; line-height: 50px; border-bottom: 4px solid #000; display: inline-block; }
h1.blue_underline { font-size: 30px; color: #000000; font-weight: 300; line-height: 50px; border-bottom: 4px solid #2483c5; display: inline-block; }
p.para { font-size: 15px; padding: 20px 0px 0px 0px; border-top: 4px solid #f3f3f3; margin-top: -4px; line-height: 17px }
ul.list2 { padding: 20px 5px 0px 0px; border-top: 4px solid #f3f3f3; margin-top: -4px; }
ul.list2 li { list-style: square; list-style-image: url(../images/list_image2.png); font-size: 15px; margin-bottom: 16px }
.inputcontainer { padding: 20px 0px 0px 0px; border-top: 4px solid #f3f3f3; margin-top: -4px; }
.inputcontainer input { width: 100%; height: 28px; margin: 0 0 15px 0; border-radius: 0px; color: #000000; box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; -webkit-box-shadow: none; }
.inputcontainer input:hover { border: 1px solid #cfcfcf; cursor: pointer; background: #f6f6f6; }
.blue_btn a { background: #2483c5; color: #fff; font-size: 30px; padding: 6px 36px 6px 36px; font-weight: 300; }
.blue_btn a:hover { background: #959595; color: #fff; }
.logo_slider .main_logo_slider { padding: 20px 0px 0px 0px; border-top: 4px solid #f3f3f3; margin-top: -4px; }
.unline { padding: 20px 0px 0px 0px; border-top: 4px solid #f3f3f3; margin-top: -4px; }
ul.dropdown-menu { padding: 40px 18px 22px 34px; background:url../images/dropdown_bg.jpg) no-repeat scroll;
}
ul.dropdown-menu p { color: #e01e26; font-size: 17px; margin-bottom: 20px }
ul.dropdown-menu li:before { background-image: url(../images/black_arrow.png); background-repeat: no-repeat; background-position: left top; height: 9px; width: 4px; display: table; content: ""; position: absolute; right: -6px; top: 5px; }
ul.dropdown-menu li { padding-right: 10px; background-size: 4px 9px; margin-bottom: 20px; position: relative; }
ul.dropdown-menu li a { color: #000; font-size: 15px }
ul.dropdown-menu li:hover a { color: #e01e26; }
ul.dropdown-menu li:hover:before { background-position: left -30px; }
.neg_marginright { margin-right: -40px !important; }
.middlecolumn { max-width: 340px; width: 100%; border: 2px solid #ffffff; box-shadow: 1px 1px 2px #c5c5c5; height: 187px; overflow: hidden; position: relative; margin-bottom: 10px; }
.footercontainer { width: 100%; padding: 25px 0 0 0; position: relative; background: #f6f6f6; }
.bluetext { color: #2a73b7; font-size: 17px; font-weight: 700; float: left; background: #f3f3f3; padding: 6px 20px }
.bluetext:hover { color: #2a73b7; background: #d8d8d8; }
.footercontainer p { font-size: 13px; color: #000000; max-width: 170px; }
.footercontainer .redtext { font-size: 25px; font-weight: 300; }
.footercontainer .title { font-size: 17px; color: #959595; font-weight: 300; }
.footercolumn_two ul li { font-size: 15px; color: #959595; line-height: 24px; }
.footercolumn_two ul li span { float: right; display: block; margin-left: 8px; margin-top: 6px; }
.footercolumn ul { margin: 5px 0 16px; }
.footercolumn ul li { color: #959595; font-size: 16px; line-height: 22px; }
.footercolumn ul li a { color: #959595; font-size: 16px; line-height: 22px; }
.footercolumn ul li a:hover { color: #e01e26; }
.footerborder { background: #e3e3e3; height: 1px; background-size: contain; width: 100%; }
.bottomfooter { padding: 20px 0 0 0; font-size: 14px; color: #959595; }
.bottomfooter a { color: #959595; font-weight: bold; }
.bottomfooter a span { color: #323232; font-size: 16px; padding: 0 0 8px 0px; font-weight: 600; display: inline-block; }
.bottomfooter a:hover span { color: #1670b8; }
.phone { position: absolute; top: 0; left: 0; width: 213px; height: 35px; background: #e01e26; text-align: center; z-index: 11; }
.phone a { padding: 3px 0 0 0; color: #ffffff; font-size: 30px; font-weight: 300; }
/*------------------------------------About Page-----------------------------------*/

.leftcontainer { background: #ffffff; margin: 0 0 20px 0; }
.leftcontainer h1 { font-size: 30px; color: #000000; font-weight: 300; line-height: 50px; border-bottom: 4px solid #e01e26; }
.leftcontainer p { font-size: 15px; color: #000000; line-height: 21px; font-family: 'almoni-dl'; }
.leftcontainer p span.image { margin: -30px 20px 0 0; }
.borderbottom { background: url(../images/leftborderbottom.png) no-repeat bottom center; height: 2px; margin: 30px 0; display: block; }
.slider { margin-bottom: 40px; }
.slider .heading { margin-bottom: 10px; }
.auto-ht { height: auto !important; width: auto !important; }
/*------------------------------------Article Page-----------------------------------*/

.article { background: #ffffff; border-bottom: 1px solid #cacaca; padding: 0 0 10px 0; margin: 20px 12px; max-width: 720px; }
.article:first-child { border-top: 1px solid #cacaca; padding-top: 20px }
.articletitle { color: #e01e26; font-size: 20px; padding-bottom: 6px; display: block; padding-right: 25px; }
.article p { max-height: 80px; overflow: hidden; padding-right: 25px; font-size: 15px; }
.articleimg { height: 126px; width: 198px; overflow: hidden; text-align: center; display: block; border: 1px solid #e3e3e3; }
.articleimg a { display: block; }
.articleimg a img { height: 100%; }
.redtext { color: #e01e26 !important; }
.continueread { color: #e01e26 !important; background: #f3f3f3; height: 25px; width: 130px; padding: 2px 0 0 0; text-align: center; }
.continueread:hover { background: #d8d8d8; }
.rightcontainer span { margin-bottom: 20px; display: block; position: absolute; left: -10px; top: -10px; }
.rightcontainer i { padding-top: 30px; display: block; }
.rightcontainer .box { padding-bottom: 10px; }
.border_bottom { border-bottom: 1px solid #cacaca; }
.socailicons { padding-top: 20px; }
.leftcontainer .button { width: 96px; height: 33px; display: block; text-align: center; font-size: 30px; padding: 3px 0 0 0; margin-top: 0px; margin-right: 0px; }
.productform .title { display: block; }
.productform .title h1 { font-size: 30px; color: #000000; border-bottom: 4px solid #2483c5; font-weight: 300; }
/*------------------------------------Clients Page-----------------------------------*/

.clientbg { width: 100%; height: 182px; display: block; background: #f3f3f3; position: relative; }
.clientbg img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.clientpadding { padding: 0 7px 7px 0 !important; display: block; }
.productform h1 { color: #1670b8; font-size: 28px; letter-spacing: -1px; }
.productform input { float: right; display: block; max-width: 198px; height: 28px; margin: 0px 0px 15px 10px; color: #000000; font-size: 17px; border-radius: 0; border: 1px solid #cfcfcf; box-shadow: none !important; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; }
.productform input:hover { border: 1px solid #1670b8; cursor: pointer; }
.productform ul li { display: block; float: right; }
.productform .form-group { width: 100%; margin: 0 auto; display: block; max-width: 980px; }
a.page_nav { padding: 1px 3px 1px 3px; color: #959595; background: #f7f7f7 }
a.page_nav:hover { padding: 1px 3px 1px 3px; color: #959595; background: #eaeaea }
.nav_view { color: #959595; font-size: 15px; font-variant: 300; margin: 5px 0px 0px 0px }
.nav_view2 { color: #959595; font-size: 15px; font-variant: 300; margin: 5px 0px 50px 0px }
/*------------------------------------Contact Page-----------------------------------*/

.contactform .form-group { margin: 20px 0 0 0; }
.contactform label { float: right; display: block; width: 90px; }
.contactform input { width: 226px; height: 28px; margin: 0 0 10px 0; border-radius: 0px; font-size: 15px; color: #403d3e; box-shadow: none !important; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; outline:0; }
.contactform input:hover { border: 1px solid #cfcfcf; background: #f6f6f6; }
.contactform select { border: 1px solid #cfcfcf; width: 226px; height: 28px; margin: 0 0 10px 0; font-size: 15px; color: #403d3e; }
.contactform select:hover { border: 1px solid #cfcfcf; cursor: pointer; }
.contactform textarea { max-width: 330px; width:100%; height: 145px; margin: 0 0 10px 0; padding:6px 8px; outline:0; color: #403d3e }
.contactform .submit_btn { float: left; width: 106px; height: 33px; background: #2483c5; color: #ffffff; border: none; margin-left: 24px; }
.contactform .submit_btn:hover { background: #959595; color: #fff; border: none }
.border { border-top: 4px solid #f3f3f3; margin-top: -4px; }
.contactbg { background: url(../images/contactbg.png) no-repeat right top; margin: 10px 0 0 0; }
.map p { font-size: 17px; color: #000000; padding: 2px 40px 10px 0; line-height: 21px; }
.contact_social { padding: 25px 40px 25px 0; display: block; }
.marginright { margin-right: 0px; }
.formrightpan { max-width: 405px; display: block; width: 100%; padding-left: 0px; }
/*------------------------------------Aside Fix Icons-----------------------------------*/

.fixicons { position: fixed; right: 5px; top: 40%; z-index: 99999; }
.fixicons a { display: block; width: 45px; height: 50px; display: block; text-align: center; background: #f5f5f5; margin: 0 0 10px 0; padding: 10px 0 0 0; }
.fixicons a:hover { background: #d3d3d3; }
.footer-credit { background: url(../images/icon3.png) no-repeat left top; display: block; padding-left: 40px; min-height: 32px; }
.footer-credit:hover { background-position: left -71px; }

.owl-nav { position:absolute; width:100%; height:100%; top:0; right:0; font-size:20px; color:#959595;}
.owl-prev, .owl-next { width:25px; text-align:center; background:#f5f5f5; vertical-align:middle;}
.owl-prev i, .owl-next i { line-height:76px; vertical-align:middle;}
.owl-prev { float:left; box-shadow:-2px 0px 2px rgba(131,131,131,0.27); -webkit-box-shadow:2px 0px 2px rgba(131,131,131,0.27); -moz-box-shadow:2px 0px 2px rgba(131,131,131,0.27);}
.owl-next { float:right; box-shadow:-2px 0px 2px rgba(131,131,131,0.27); -webkit-box-shadow:-2px 0px 2px rgba(131,131,131,0.27); -moz-box-shadow:-2px 0px 2px rgba(131,131,131,0.27);}
.owl-prev:hover, .owl-next:hover { color:#e01e26;}

/*------------------------------------Media Query-----------------------------------*/

@media (max-width: 1080px) {
.nav > li > a { padding: 10px; }
}

@media (max-width: 991px) {
body { background-image:none; }

.maxmob-50 { max-width: 50%; }
.no-maxwidth { max-width: 100%; }
ol.bjqs-markers { left: 0 !important; }
.navbar-header { width: 100%; }
.navbar-toggle { float: right; margin-right: 20px; }
.navbar-default .navbar-brand { float: left; }
.navbar-nav { margin: 0; }
.navbar-collapse.in { overflow-y: auto; overflow-x: hidden; }
.navbar-header { max-height: none; }
.navbar-default { background: #fff; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #F5F5F5; }
.navbar-default .navbar-toggle .icon-bar { background-color: #1670b8; }
.formrightpan { padding-left: 0; }
.contactform .form-group { max-width: 316px; }
.padddingrt-20, .padddingrt-35 { padding-right: 0px; }
.padddinglt-10 { padding-left: 0px; }
.padddinglt-20 { padding-left: 0px; }
.navbar-default .navbar-brand { max-width:100px; }
.navbar-default .navbar-nav { padding-top: 10px; padding-right: 10px; }
.contactform .submit_btn { margin-left:0;}
.topnavwrap { border-bottom:1px solid #E0E0E0; display:block; }
.margintop70 { margin-top:100px !important; display: block; }
.continueread { margin:15px 0 0 0; }
.neg_marginright { margin-right: -10px !important; }
.navbar-default .navbar-brand { float: right; }

toggle:focus { background-color: #e01e26 !important; }
.navbar-default .navbar-toggle { border-color: #e01e26 !important; }
.navbar-toggle {  position: relative;  float: left; padding: 9px 10px; margin-top: 52px; margin-bottom: 8px; margin-left: 15px; background-color: transparent; background-image: none; border: none; border-radius: 0px; }
.navbar-default .navbar-toggle .icon-bar { background-color: #e01e26; height:3px; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: transparent; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgba(197,197,197,0.40); }
.fixicons { display:none;}
.wrapper { border:none;}
}

@media (max-width: 767px) {
.rightcontainer	.vspace-20 { padding:5px !important;}
.margintop70 { margin-top:10px !important; display: block; }
.rightcontainer .box { margin-top:26px !important; margin-bottom:0px !important;}
.leftcontainer p span.image { margin-top: 10px; max-width: none; }
.leftcontainer { margin-bottom: 66px; }
.padddingrt-35 { padding-right: 15px; }
.productform ul li { width: 100%; }
.article { margin-left: 0; margin-right: 0; }
.contactform input { max-width: 100%; }
.borderight { background: none; }
.ls-circle-timer { top: 0; }
.phone { width:190px;}
.articleimg { width:auto; height:auto;}
.article p, .articletitle { padding-right:0;}

}



